.container {
  width: 1300px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto; 
}
  
.hero {
  height: 80vh;
  display: flex;
  align-items: center;
}
  
.hero .right {
  display: flex;
  height: 80%;
  gap: 24px;
  flex: 7;
  position: relative;
  z-index: 1;
}

.hero .right section {
  flex: 1;
  border-radius: 20px;
  height: 100%;
  transition: 0.4s;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 32px;
  justify-content: space-between;
  position: relative;
}

.hero .right section::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  border-radius: 20px;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8521597859) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  left: 0;
}

.hero .right section .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 5;
}

.hero .right section .content::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  background: #1C1B29;
  left: -32px;
  transition: 0.4s;
}

.hero .right section h2 {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: #fff;
  transform: rotate(-90deg) translateY(-25px) translateX(25px);
  transition: 0.4s;
}

.hero .right section h2 span {
  opacity: 0;
  transition: 0.4s;
}

.hero .right section h3 {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: #fff;
  text-align: center;
  line-height: 1.3;
  opacity: 0;
  transition: 0.4s;
}

.hero .right section h3 span {
  font-size: 0.4em;
  text-transform: uppercase;
}

.hero .right section.box1 {
  flex: 3;
  background-image: url(Image/bg.png);
}

.hero .right section.box1 .content::before {
  opacity: 0;
}

.hero .right section.box1 h2 {
  transform: rotate(0) translateY(0) translateX(0);
}

.hero .right section.box1 h2 span {
  opacity: 1;
}

.hero .right section.box1 h3 {
  opacity: 1;
}

.hero .right section.box2 {
  background-image: url(Image/Fares.png);
}

.hero .right section.box3 {
  background-image: url(Image/Adam.png);
}

.hero .right section.box4 {
  background-image: url(Image/Faten.png);
}

.hero .right:hover section {
  flex: 1;
}

.hero .right:hover section .content::before {
  opacity: 1;
}

.hero .right:hover section h2 {
  transform: rotate(-90deg) translateY(-25px) translateX(25px);
}

.hero .right:hover section h2 span {
  opacity: 0;
}

.hero .right:hover section h3 {
  opacity: 0;
}

.hero .right:hover section:hover {
  flex: 3;
}

.hero .right:hover section:hover .content::before {
  opacity: 0;
}

.hero .right:hover section:hover h2 {
  transform: rotate(0) translateY(0);
}

.hero .right:hover section:hover h2 span {
  opacity: 1;
}

.hero .right:hover section:hover h3 {
  opacity: 1;
}

